# PORT
PORT=5500
SERVER_URL="http://localhost:5500"

# ENVIRONMENT
NODE_ENV="development"

# DATABASE
DB_URI=<your_mongodb_atlas_connection_string_here>

# JWT AUTH
JWT_SECRET=
JWT_EXPIRES_IN=

# ARCJET
ARCJET_KEY=
ARCJET_ENV="development"

#QSTASH
#For Development: get token and keys by running --> npx @upstash/qstash-cli dev
#For Development, you don't need current and next signing key
QSTASH_URL="http://127.0.0.1:8080" # Upstash local dev server
QSTASH_TOKEN=

#For Production: get token and keys from qstash dashboard
QSTASH_URL="https://qstash.upstash.io"
QSTASH_TOKEN=
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=

#NODEMAILER
EMAIL_ACCOUNT=
EMAIL_PASSWORD=<your_google_app_password>