# PORT
PORT=5500

# ENVIRONMENT
NODE_ENV="development"

# DATABASE
DB_URI=<your_mongodb_atlas_connection_string_here>

# JWT AUTH
JWT_SECRET=<your_jwt_secret_here>
JWT_EXPIRES_IN=<your_jwt_expiry_here>

# ARCJET
ARCJET_KEY=<your_arcjet_key_here>
ARCJET_ENV="development"

#QSTASH
QSTASH_URL="https://qstash.upstash.io"
QSTASH_TOKEN=<your_qstash_token_here>
QSTASH_CURRENT_SIGNING_KEY=<your_qstash_current_signing_key_here>
QSTASH_NEXT_SIGNING_KEY=<your_qstash_next_signing_key_here>